<h2>Books</h2>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Opinion</th>
      
      
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
    <tr>
      <th>   <%= image_tag book.get_image %>  </th> 
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      
    </tr>
  <% end %>
    
  </tbody>
</table>
  
  
 